* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --font-1: "Luckiest Guy", cursive;
  --font-2: "Montserrat", sans-serif;

  --color-dark: #334443;
  --color-dark-2: #34656d;

  --color-light: #fffbdf;
  --color-light-2: #c6ffc1;
}

body {
  background-color: var(--color-light);
  font-family: var(--font-2);
}

.heading {
  font-family: var(--font-1);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;

  background-color: var(--color-dark-2);
  color: var(--color-light);
}

header h1 {
  letter-spacing: 0.6rem;
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  header {
    height: 6rem;
  }

  header h1 {
    letter-spacing: auto;
    font-size: 2.3rem;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-custom {
  background-color: var(--color-dark-2);
  color: var(--color-light);
}

.custom-group {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.custom-group input {
  flex: 7;
}

.custom-group button {
  flex: 1;
  margin: 0 0.3rem;
}

@media screen and (max-width: 768px) {
  .custom-group {
    flex-direction: column;
  }
  .custom-group button {
    margin: 0.3rem 0;
  }
}

.custom-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  animation: fadeIn 0.6s ease-in;
}

.completed {
  background-color: var(--color-light-2);
  color: var(--color-dark);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
